.note {
    height: initial;
    flex-grow: 1;
    z-index: 1;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    p{
        width: 80%;
        line-height: 40px;
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        span {
            position: relative;
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            animation-name: waviy;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            transition: all 0.2s;
            opacity: 0;
            // animation-delay: calc(.2s * var(--i));
            
        }
        .span-1{animation-delay:0s}
        .span-2{animation-delay:0.5s}
        .span-3{animation-delay:1s}
        .span-4{animation-delay:1.5s}
        .span-5{animation-delay:2s}
        .span-6{animation-delay:2.5s}
        .span-7{animation-delay:3s}
        .span-8{animation-delay:3.5s}
        .span-9{animation-delay:4s}
        .span-10{animation-delay:4.5s}
        .span-11{animation-delay:5s}
        .span-12{animation-delay:5.5s}
        .span-13{animation-delay:6s}
        .span-14{animation-delay:6.5s}
        .span-15{animation-delay:7s}
        .span-16{animation-delay:7.5s}
        .span-17{animation-delay:8s}
        .span-18{animation-delay:8.5s}
        .span-19{animation-delay:9s}
        .span-20{animation-delay:9.5s}
        .span-21{animation-delay:10s}
        .span-22{animation-delay:10.5s}
        @keyframes waviy {
            0%{
                opacity: 0;
                transform: translateY(-50px)
            }
            20% {
                opacity: 0.4;
                transform: translateY(-40px)
            }
            40% {
                opacity: 0.8;
                transform: translateY(-20px)
            }100% {
                opacity: 1;
                transform: translateY(0px)
            }
        }
    }
}
